{% extends "base.html" %}

{% block title %}Welcome {{user.username}}{% endblock %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
<div class="body">
    <div class="yourTodo">
        <form method="get">
            {%csrf_token%}
            <button type="submit" class="btn btn-success" name="ToDos" value="ToDos">Your To-do</button>
        </form>
    </div>
    <div class="delete">
        <form method="post" action="{% url 'account' %}">
            {%csrf_token%}
            <button type="submit" class="btn btn-danger" name="delete" value="delete">Delete account</button>
        </form>
    </div>
    <div class="logout">
        <form method="post" action="{% url 'logout' %}">
            {%csrf_token%}
            <button type="submit" class="btn btn-secondary" name="logout" value="logout">Logout</button>
        </form>
    </div>
</div>
{% endblock %}
