.body {
    background-image: radial-gradient(rgb(67,29,29), rgb(51, 9, 9), rgb(0, 0, 0));
    border: 5px solid brown;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 35px;
}

.logout {
    position:absolute;
    top:18px;
    right:20px;
}
.yourTodo {
    position:absolute;
    top:18px;
    left:25px;
}
.delete {
    position:absolute;
    top:18px;
    right:230px;
}
button {
    width:180px;
    height:60px;
}