{% extends "base.html" %}

{% block title %} Your To-do {% endblock %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/tasks.css' %}">
<div class="body">
    {{mycheck}}
    <div class="tasks">
        <form method="post">
            {% csrf_token %}
            {% for x,y in display.items %}
            <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" name="task{{x}}" value="{{y}}" {% if y %}checked{%endif%}>
            <label class="form-check-label" for="check">{{x}}</label>
            </li>
            {%endfor%}
            <p></p>
            <button type="submit" class="btn btn-primary" name="updateTask" value="updateTask">Update Tasks</button>
        </form>
    </div>
    <div class="newtask">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary" name="newTask" value="newTask">New Task</button>
        </form>
    </div>
</div>
{% endblock %}