{% extends "base.html" %}

{% block title %} Your To-do {% endblock %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/todo.css' %}">
<div class="body">
    <div class="list-group">
        {% for x in todos%}
        <p><a href ="{{x}}" class="list-group-item list-group-item-action list-group-item-primary" style="color: black;">{{x}}</a></p>
        {% endfor %}
    </div>
    <div class="newTodo">
        <form method="post">
            {% csrf_token %}
            <p>{{form.as_p}}<button type="submit" class="btn btn-primary" name="create" value="create">Create new To-do Group</button></p>
        </form>
    </div>
</div>
{% endblock %}