{% extends "base.html" %}

{% block title %} Your To-do {% endblock %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/todo.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<button type="submit" name="back" style="background:none;border:none;color:white; position:fixed;top:3px;left:-130px;" onclick="location.href='../'"><i class="fas fa-arrow-left"> Back</i></button>
<div class="body">
    <div class="list-group">
        {% for x in todos%}
        <p><a href ="{{x}}" class="list-group-item list-group-item-action list-group-item-primary" style="color: black;">{{x}}</a></p>
        {% endfor %}
    </div>
    <div class="newTodo">
        <form method="post">
            {% csrf_token %}
            <p>{{form.as_p}}<button type="submit" class="btn btn-primary" name="create" value="create">Create new To-do Group</button></p>
        </form>
    </div>
</div>
{% endblock %}